// Archivo de variables 

//Paleta de colores
$white: #fff;
$isabelline: #EEEDED;
$spanish-gray: #989797;
$coral: #f0d53c;
$buff: #F1DD7B;
$vanilla: #F5E7A1;
$flame: #E4572E;
$light-red-ochre: #E87554;
$pastel-pink: #F2B2A0;
$shiny-shamrock: #4CA866;
$turquoise-green: #9DCFAB;
$pastel-gray: #BDDFC7;
$blue-de-france: #3C91E6;
$blue-jeans: #5FA5EA;
$jordy-blue: #82B9EF;
$black: #000000;
$outer-space: #454545;
$quick-silver: #A2A2A2;


//Tipografias
$mono-font: "PT Mono", monospace;
$roboto-fonts: "Roboto", sans-serif;

//PESOS FUENTES
$font-thin: 300;
$font-medium: 500;
$font-bold: 700;

//TAMAÑO FUENTES
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;